{% extends 'index.html' %}
{% block content %}
<div class="main-section">
    <br><br>
    <form method="POST" enctype="multipart/form-data" action="{% url 'upload_syllabus' %}">
        {% csrf_token %}
        <!-- Dynamic Subject Dropdown -->
        <label for="subject">Subject</label>
        <select class="input-field" id="subject" name="subject" required>
            <option value="">Select Subject</option>
            {% for course in courses %}
                <option value="{{ course.CourseID }}">{{ course.Course_Name }}</option>
            {% endfor %}
        </select>
        &nbsp;&nbsp;&nbsp;
        <button class="submit-button" type="submit">Generate Question Paper</button>
    </form>    
</div>
{% endblock %}